@import "tailwindcss";
@plugin "daisyui" {
    themes: white --default;
    /*dark --prefersdark;*/
}

@plugin "daisyui/theme" {
    name: "white";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #fefefe;
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(0% 0 0);
    --color-primary: #181818;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(51% 0.262 276.966);
    --color-secondary-content: oklch(97% 0.014 308.299);
    --color-accent: oklch(27% 0.033 256.848);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: #6b6b6c;
    --color-neutral-content: oklch(0% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: #3baf5e;
    --color-success-content: oklch(100% 0 0);
    --color-warning: #f0c117;
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: #ff6161;
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --font-biryani: var(--font-biryani), sans-serif;
    --font-cal-sans: var(--font-cal-sans), sans-serif;
    --font-inter: var(--font-inter), sans-serif;
}
